<server>

    <featureManager>
        <platform>jakartaee-10.0</platform>
        <platform>microprofile-7.0</platform>
        <feature>jsonb</feature>
        <feature>jsonp</feature>
        <feature>mpTelemetry</feature>
        <feature>mpRestClient</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*" />

    <mpTelemetry source="message"/>
    
    <webApplication location="demo-microprofile-telemetry-person.war" contextRoot="/">
        <classloader apiTypeVisibility="+third-party"/>
    </webApplication>
</server>
